@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background-color: white;
    color: #0c0527;
}

h1 {
    color: #e974bb;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

header {
    min-height: 100vh;
}

.socials li {
    list-style: none;
}

.socials li img {
    width: 50%;
}


#drawphoto {
    width: 340px;
    /* height: 100%; */
    border-radius: 50%;
}


.skills li {
    margin: 0.5em;
    list-style: none;
}

.skills li img {
    width: 60%;
}

.skills li p {
    margin-top: 1em;
}

footer {
    margin-bottom: 0%;
    background-color: #f0a2d2;
}

.socials li i {
    font-size: 24px;
}

span {
    color: #0c0527;
}