$text: #33313e;
$background: #f7f7f8;
$background-secondary: #f7f7f7;
$primary: #e58aa2;
$secondary: #454d61;
$accent: #ecaebd;
$font-family_1: "Roboto Slab", serif;

// @import "https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap";
// @import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap";
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@import "../node_modules/bootstrap/scss/bootstrap";

body {
	margin: 0;
	font-family: "Poppins";
	font-weight: 400;
	background-color: $background;
	color: $text;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Poppins";
	font-weight: 700;
}

html {
	font-size: 100%;
}

h1 {
	font-size: 4.21rem;
	color: $primary;
}

h2 {
	font-size: 3.158rem; /* 50.56px */
}

h3 {
	font-size: 2.369rem; /* 37.92px */
}

h4 {
	font-size: 1.777rem; /* 28.48px */
}

h5 {
	font-size: 1.333rem; /* 21.28px */
}

small {
	font-size: 0.75rem; /* 12px */
}

.bi-heart {
	color: $primary;
	font-size: 1.4rem;
	margin-left: 0.5em;
}

.bi-heart-fill {
	color: $primary;
	font-size: 1.4rem;
	margin-left: 0.5em;
}
.highlight-title {
	color: $secondary;
	position: relative;
	display: inline-block;
	::after {
		content: "";
		position: absolute;
		bottom: -0.2em;
		left: 0;
		height: 40%;
		width: 100%;
		background-color: rgba($primary, 20%);
		z-index: -1;
	}
}

header {
	min-height: 100vh;
	.headerText {
		span {
			color: $secondary;
		}
	}
}
#drawphoto {
	width: 340px;
	border-radius: 50%;
}
#portada img {
	height: 100%;
	width: 100%;
}
#personalPhoto {
	height: 300px;
}
#about {
	line-height: 130%;
}
.project {
	// padding: 4em 0 4em 0;
	border-bottom: 2px solid $primary;
	h3 {
		margin-bottom: 3%;
	}
	.badge {
		background-color: $accent;
		color: $text;
		padding: 10px;
	}
	#portada {
		img {
			width: 100%;
			border-radius: 10px;
		}
	}
}
.skills {
	li {
		margin: 0.5em;
		list-style: none;
		img {
			width: 60%;
		}
		p {
			margin-top: 1em;
		}
	}
}
footer {
	margin-bottom: 0%;
	background: rgba($primary, 0.2);
	i {
		color: $primary;
	}
}
.btn-secondary {
	border: transparent;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease-in-out;
	i {
		color: $primary;
	}
	&:hover {
		transform: translateY(-2px);
	}
}
.socials {
	padding-left: 0px;
	li {
		list-style: none;
		img {
			width: 50%;
		}
		i {
			font-size: 24px;
			&:hover {
				color: rgba($primary, 80%);
			}
		}
	}
}
.chem {
	width: 80%;
	height: 300px;
}
.timeline {
	border-left: 1px solid $primary;
	position: relative;
	list-style: none;
}

.timeline .timeline-item {
	position: relative;
}

.timeline .timeline-item:after {
	position: absolute;
	display: block;
	top: 0;
}

.timeline .timeline-item:after {
	background-color: $primary;
	left: -38px;
	border-radius: 50%;
	height: 11px;
	width: 11px;
	content: "";
}
